.products {
    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__box {
        background-image: url('../images/products/Ocean.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100%;
        position: relative;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #292C32;
        border-radius: 16px;
        width: 615px;
        height: 48px;
        padding: 15px 22px 21px;
        position: absolute;
        right: 40px;
        bottom: 40px;
        transition: 0.5s;
    }

    &__item {
        max-width: 100%;
    }

    &__link {
        color: #fff;
        font-size: 11px;
        line-height: 1.09;

        &:hover {
            color: #E6B939;
        }

        &-first {
            margin-right: 8px;
        }

        & svg {
            margin: 0 8px -7px 0;
        }
    }

    &__content {
        background-color: #375C58;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &-info {
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FAFAFC;
        }

        &-caption {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-size: 36px;
            line-height: 1.2;
            color: #E6B939;
            margin-bottom: 7px;
        }

        &-desc {
            font-size: 16px;
            line-height: 1.2;
            color: #FAFAFC;
            max-width: 538px;
            padding: 0 7px;
            margin-bottom: 21px;
        }
    }

    &__btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .products {
        &__btn {
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: 38px;
            right: 24px;
            cursor: pointer;

            &-menu {
                display: block;
                position: relative;
                width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;

                &::before {
                    content: '';
                    background-color: #292C32;
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    top: 50%; margin-top: -5px;
                    left: 50%; margin-left: -17px;
                    transform: translateY(-5px);
                    transition: 0.3s;
                }

                &::after {
                    content: '';
                    background-color: #292C32;
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    bottom: 50%; margin-bottom: -5px;
                    left: 50%; margin-left: -17px;
                    transform: translateY(5px);
                    transition: 0.3s;
                }
            }

            & span {
                position: absolute;
                top: 50%; margin-top: -1px;
                left: 50%; margin-left: -17px;
                width: 70%;
                height: 2px;
                background-color: #292C32;
                transition: 0.3s;
            }
        }

        &__btn-menu--open {
            &.products__btn-menu {
                &::before {
                    transform: rotate(45deg);
                    margin-top: 0;
                }
                
                &::after {
                    transform: rotate(-45deg);
                    margin-bottom: -2px;
                }
            }
 
            & span {
                    transform: scale(0);
            }  
        }

        &__list {
            display: none;
            transition: all 0.3s;

            &--open {
                display: block;
                position: absolute;
                padding: 0;
                width: 280px;
                height: 197px;
                right: 23px;
                bottom: 94px;
                transition: 0.3s;
            }
        }

        &__item {
            margin: 25px 10px;
        }

        &__content {
            &-info {
                font-size: 14px;
            }
            
            &-caption {
                font-size: 29px;
            }
            
            &-desc {
                font-size: 14px;
                max-width: 500px;
            }
        }
    }
}


@media (max-width: 425px) {
.products {
    
    &__content {
        &-info {
            font-size: 12px;
        }

        &-caption {
            font-size: 22px;
        }

        &-desc {
            font-size: 13px;
        }
    }
}
}